{%- import "link-macros.html" as linkmacros -%}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Screen</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='screens/main.css') }}" />
  {% if site_mode == 'debug' %}<link rel="stylesheet" href="{{ url_for('static', filename='screens/debug.css') }}" />{% endif %}
  <link rel="stylesheet" href="{{ url_for('user_fonts_css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/quill/quill.snow.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='screens/screen-content.css') }}" />
  <style>
  {{ screen.css | replace('</', '') | safe }}
  </style>
</head>
<body>
<div id="zones" style="position:absolute;top:0;bottom:0;right:0;left:0;background-size:cover;"></div>
{% block end_of_page_javascript %}
  {{ linkmacros.static_js('lib/jquery.js') }}
  {{ linkmacros.static_js('lib/dayjs/dayjs.min.js') }}
  {{ linkmacros.static_js('screens/globals.js') }}
  {{ linkmacros.static_js('screens/functions.js') }}
  {{ linkmacros.static_js(engine_js) }}
  {{ linkmacros.static_js('screens/main.js') }}
  <script type="text/javascript" src="{{ url_for('post_types_js') }}"></script>
  <script type="text/javascript">

    window.LOCALOPTS = {{ request.args | tojson|safe }};
    window.SCREEN_DATA = {{screen.to_dict() | tojson|safe }};
    window.POSTS_URL = "{{ url_for('screens_posts_from_feeds', json_feeds_list='-1') }}";
    window.SERVER_TIME = get_servertime();

    SCREEN_DATA.md5 = "{{screen.md5()}}";

    window.SCREEN = new StreetScreen($('#zones'), SCREEN_DATA);

    setTimeout(() => { window.SCREEN.start_zones(); }, 2000);

    reloadWhenThisURLContentChanges();

  </script>
{% endblock %}
</body>
</html>
