# the web framework:
Flask
Jinja2

# database stuff:
peewee

# for importing 'external data' sources:
feedparser
tweepy
bleach

# a lot of our modules are separately pulled in later:
#importlib

# for passwords:
bcrypt<5
passlib

# for parsing date-related formulae:
simpleeval

# simple python-based WSGI webserver:
Werkzeug
waitress

# for tests:
nose
coverage
pylint
html5lib
