{% extends "index.html" %}
{% block title %} Userlist {% endblock %}

{% block body %}
{% if not session.display_admin_stuff %}
<table>
<thead>
<tr>
<td>Display Name</td>
<td>login name</td>
<td>Email</td>
<td></td>
</tr>
</thead>
<tbody>
{% for user in group.users() %}
    <tr>
    <td>{{ linkmacros.user(user) }}</td>
    <td>{{ user.loginname }}</td>
    <td>{{ user.emailaddress }}</td>
    <td>{% if user.is_admin %}ADMIN {% endif %}
        {% if user.is_locked_out %} Locked Out! {% endif %}
    </tr>
{% endfor %}
</tbody>
</table>
{% else %}
<h1>{{ group.name }}</h1>
<form action="" method="POST" class="needs-validation" novalidate>
<div class="card">
<div class="card-body">
<input type="hidden" name="action" value="update" />
<div class="mb-3">
	<label class="form-label">Name</label>
	<input name="groupname" value="{{group.name}}" class="form-control" required />
</div>
<div class="mb-3">
	<label class="form-label">Users</label>
	{{ widgets.userselect('groupusers', allusers, group.users()) }}
</div>
<div class="d-flex gap-2">
	<input type="submit" value="Save" class="btn btn-primary" />
</div>
</div>
</div>
</form>
{% endif %}
{% endblock %}
