{% macro user(a) -%}
<a href="{{ url_for('user_edit', userid=a.id) }}">{{a.displayname}}</a>
{%- endmacro %}

{% macro feed(a) -%}
<a href="{{ url_for('feedpage', feedid=a.id) }}">{{a.name}}</a>
{%- endmacro %}

{% macro static_js(name) -%}
<script type="text/javascript" src="{{ url_for('static', filename=name) }}?v={{ app_version }}"></script>
{%- endmacro %}

{% macro static_css(name) -%}
<link rel="stylesheet" href="{{ url_for('static', filename=name) }}?v={{ app_version }}" />
{%- endmacro %}

{% macro post_title(post) %}
<a href="{{ url_for('postpage', postid=post.id) }}">{{ post.title }}</a>
{% endmacro %}

{% macro post(post) %}
<a href="{{ url_for('postpage', postid=post.id) }}">{{ post.repr() }}</a>
{% endmacro %}

{% macro admin_lock() %}
{{- ' locked '  if sessions.display_admin_stuff else '' -}}
{% endmacro %}

{% macro post_status_badge(post) %}
{% set status = post.active_status() %}
{% if status == 'now' %}
	<span class="badge bg-success">Active</span>
{% elif status == 'future' %}
	<span class="badge bg-info">Upcoming</span>
{% elif status == 'past' %}
	{% if post.status == 0 %}
		<span class="badge bg-secondary">Expired</span>
	{% else %}
		<span class="badge bg-dark">Archived</span>
	{% endif %}
{% endif %}
{% if post.published %}
	<span class="badge bg-success-subtle text-success-emphasis border border-success-subtle">Published</span>
{% else %}
	<span class="badge bg-warning-subtle text-warning-emphasis border border-warning-subtle">Draft</span>
{% endif %}
{% endmacro %}
