{% extends "index.html" %}
{% block title %} Edit Post: {{ post.id }} {% endblock %}

{% block htmlhead %}
{{ super() }}
{{ linkmacros.static_css('lib/flatpickr/flatpickr.min.css') }}
{{ linkmacros.static_css('lib/quill/quill.snow.css') }}
{% endblock %}

{% block body %}
<h1> Edit Post (in <a href="{{ url_for('feedpage', feedid=post.feed.id) }}">{{ post.feed.name }}</a>)</h1>

 <form action="{{ form_action }}" method="POST" enctype="multipart/form-data" id="post-editor-form">
  <input type="hidden" name="action" value="update" />
  {% include "post_editor_form.html" %}
</form>
{% endblock %}

{% block end_of_page_javascript %}
{{ super() }}
{{ linkmacros.static_js('lib/flatpickr/flatpickr.min.js') }}

{{ linkmacros.static_js('lib/quill/quill.js') }}

{{ linkmacros.static_js('post_times_editor.js') }}
{% block page_specific_js %}}
    <script type="text/javascript">
        window.TIME_RESTRICTIONS = {{ post.time_restrictions |safe }};
    </script>
{% endblock %}
{% endblock %}
