{% import "link-macros.html" as linkmacros -%}
<div x-data="makeTimesEditor([])">
<h2>Display time restrictions <a href="#" x-on:click.prevent="addTime">New</a></h2>

<label for="from_input">Active From: <input type="datetime-local" id="from_input" /></label>

<ul>
    <template x-for="(time, idx) in times" :key="idx">
    <li>
        <input class="third" type="time" x-model="time.start" />
        <input class="third" type="time" x-model="time.end" />
        <input class="third" x-model="time.note" />
        <a href="#" x-on:click.prevent="removeTime(idx)">X</a>
    </li>
    </template>
</ul>
</div>

{{ linkmacros.static_js('post_times_editor.js') }}
{{ linkmacros.static_js('lib/alpine.js') }}
