{% extends "index.html" %}
{% block title %} Users and Groups {% endblock %}

{% block body %}
<h1>Users &amp; Groups</h1>

<h1>Users
	{% if session.display_admin_stuff %}
	<a href="{{url_for('user_edit',userid=-1)}}" class="btn btn-primary float-end">
		<span class="bi bi-plus-lg"></span> New User
	</a>
	{% endif %}
</h1>

<div class="table-responsive">
<table class="table table-striped">
	<thead>
		<tr>
			<th>Display Name</th>
			<th>login name</th>
			<th>Email</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
			<tr data-item="{{ url_for('user_edit', userid=user.id) }}">
				<td>{{ linkmacros.user(user) }}</td>
				<td>{{ user.loginname }}</td>
				<td>{{ user.emailaddress }}</td>
				<td>
					{% if user.is_admin %} ADMIN {% endif %}
					{% if user.is_locked_out %} Locked Out! {% endif %}
					{% if session.display_admin_stuff %}
						{% if user.loginname != session.username %}
							<a class="confirm_ajax_delete btn btn-close btn-sm" href=""></a>
						{% endif %}
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
</div>

<h1>Groups
	{% if session.display_admin_stuff %}
	<button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#new-group-modal">
		<span class="bi bi-plus-lg"></span> New Group
	</button>
	{% endif %}
</h1>

<div class="table-responsive">
<table class="table table-striped">
	<thead>
		<tr>
			<th>Group Name</th>
			<th>Members</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for group in groups %}
			<tr>
				<td>
					<a href="{{ url_for('group',groupid=group.id) }}">{{ group.name }}</a>
				</td>
				<td>
					{% for u in group.users() %}
						{{ u.displayname }}{{ ',' if not loop.last }}
					{% endfor %}
				</td>
				<td>
					{% if session.display_admin_stuff %}
						<form action="{{ url_for('group',groupid=group.id) }}" method="POST">
							<input type="hidden" name="action" value="delete" />
							<input type="submit" class="btn btn-sm btn-close confirm_delete"
							       aria-label="Delete group" />
						</form>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
</div>

{% endblock %}
